name: lifting_tracker_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^3.2.1
  google_fonts: ^8.0.2
  path: ^1.9.1
  path_provider: ^2.1.5
  smooth_page_indicator: ^2.0.1
  sqflite: ^2.4.2
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/dumbbell_logo.png